body {
  width: 100%;
  margin: 25px auto;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 80px;
  background-color: #cb1582;
  margin-top: -25px;
  text-align: center;
  color: #a5ffef;
}

#givenUserName {
  color: #191414;
}

#graphs {
  display: flex;
  background-color: grey;
  width: 100%;
}

#graphs input, #graphs select {
  border: none;
  font-size: 16;
  margin: -3px 5px 0;
  padding: 2px;
  color: #4100f5;
  background-color: #cdf564;
}

input {
  width: 45px;
}

/* Barchart Container */
#userSongContainer {
  padding: 20px;
  background-color: #4100f5;
  width: 55%;
}

#userSongContainer label {
  justify-content: center;
  display: flex;
  font-weight: bold;
  color: #cdf564;
}

/* Barchart */
.userSongBarChart {
  padding-top: 20px;
}

.userSongBarChart g image:hover {
  opacity: 0.6;
}

/* x-axis and y-axis line */
.domain, .tick line {
  visibility: hidden;
  display: none;
}

/* Barchart text */
.axis {
  font-size: smaller;
  color: #cdf564;
  transform: translate(-40px,0);
  font-weight: bold;
}

/* bars */
rect {
  fill-opacity: 1;
}
rect:hover {
  fill-opacity: 0.6;
}

/* Play Count Label */
.playCountLabel {
  opacity: 0;
  font-size: smaller;
  font-weight: bold;
  fill: #cb1582;
}

/* Piechart Container */
#userArtistContainer {
  background-color: #a5ffef;
  width: 45%;
  display: flex;
  flex-direction: column;
}

#userArtistContainer label {
  margin: 20px auto 20px;
  font-weight: bold;
  color: #cb1582;
}

/* Piechart */
.userArtistPieChart {
  align-self: right;
  margin: 0 auto;
  text-anchor: middle;
}

.userArtistPieChart text {
  font-weight: bold;
}

/* Piechart legend */
#userArtistLegend {
  border: #cb1582 3px solid;
  background-color: #cb158260;
  padding-left: 20px;
  padding: 20px 20px 20px 40px;
  width: 200px;
  align-self: center;
  color: #a5ffef;
}

#userArtistLegend li {
  font-weight: bold;
}

li::before {
  display: inline-block;
  content: "🎵";
  width: 2em;
  color: transparent;  
}

#userArtistLegend li:nth-of-type(1)::before {
  text-shadow: 0 0 0 #cdf564;
}
#userArtistLegend li:nth-of-type(2)::before {
  text-shadow: 0 0 0 #4100f5;
}
#userArtistLegend li:nth-of-type(3)::before {
  text-shadow: 0 0 0 #cb1582;
}
#userArtistLegend li:nth-of-type(4)::before {
  text-shadow: 0 0 0 #191414;
}
#userArtistLegend li:nth-of-type(5)::before {
  text-shadow: 0 0 0 #ffffff;
}

